<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de Golf Local</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <header>
            <h1>Bienvenue au Club de Golf de Chérisey</h1>
            <nav>
                <ul>
                    <li><a href=".">Accueil</a></li>
                    <li><a href="galerie">Galerie</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="reservations">Réservation(s)</a></li>
                    <li><a href="mini-jeu">Mini-jeu</a></li>
                </ul>
            </nav>

        </header>

        <div class="image">
            <img src="images/img21.jpg" alt="Description de l'image 21">
        </div>

        <section id="accueil">
            <h2> 🏠 Accueil </h2>
            <p>Découvrez notre magnifique parcours de golf, nos installations modernes et notre ambiance conviviale.
                Que vous soyez un golfeur débutant ou expérimenté, notre club est l'endroit idéal pour pratiquer votre
                passion.</p>
        </section>

        <section id="galerie">
            <h2> 🖼️ Galerie</h2>
            <p>Découvrez les merveilles de notre parcours de Golf et de nos événements à travers ces images.</p>

            <a href="galerie">Voir</a>
        </section>


        <section id="contact_form">
            <h2> ✉️ Contact</h2>
            <p>Pour plus d'informations n'hésitez pas à nous contacter via le formulaire
                ci-dessous.</p>
            <a href="contact">Contacter</a>
        </section>

        <section id="reservations_form">
            <h2> 📅 Réserver votre créneau</h2>
            <p>Prêt à réserver votre partie de golf ? Cliquez sur le lien ci-dessous pour accéder à notre système de
                réservations en ligne.</p>
            <a href="reservations">Réserver</a>
        </section>

        <section id="mini_jeu">
            <h2> 🎮 Mini-jeu de Golf</h2>
            <p>Cliquez sur le lien ci-dessous pour jouer et
                tenter de faire un trou en un !!</p>
            <a href="mini-jeu">Jouer</a>
        </section>

        <footer class="text-center mt-5">
            <p>&copy; 2026 Club de Golf de Chérisey</p>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="app.js"></script>


</body>

</html>